body {
  height: 100vh;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
 }

 .profile-dropdown {
    border: 1px solid transparent;
    height: 40px;
    border-radius: 20px;
    padding: 1px !important;
 }

 .profile-dropdown:hover {
    border: 1px solid black;
 }

 .dropdown-item:hover {
   background-color: rgb(210, 210, 211);
   color: #0d6efd;
 }

 .dropdown {
  width: 50px !important;
  height: 50px !important;
 }

 .icon {
  width: 35px;
  height: 35px;
 }

 .text-sm {
   font-size: 0.8rem;
 }

 a {
   cursor: pointer;
 }

 .fixed-50 {
  height: 50;
 }

 .wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 280px auto;
 }

 .wrapper-item-1 {
  grid-column: span 2;
 }

 .wrapper-item-2 {
  grid-row: 2;
 }

 

 @media (max-width: 576px) { /* Apply only on small screens */
  .dropdown-menu {
      right: 0 !important; /* Align dropdown menu to the right */
      left: auto !important; /* Prevent it from shifting left */
  }
}

@media (max-width: 992px) {
  .fixed-50 {
    height: 50px;
  }
}