body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

.profile-dropdown {
  border: 1px solid transparent;
  height: 40px;
  border-radius: 20px;
  padding: 1px !important;
}

.profile-dropdown:hover {
  border: 1px solid black;
}

.dropdown-item:hover {
  background-color: rgb(210, 210, 211);
  color: #0d6efd;
}

.dropdown {
  width: 50px !important;
  height: 50px !important;
}

.icon {
  width: 35px;
  height: 35px;
}

.sidebar-icon {
  height: 30px;
  width: 30px;
}

.text-sm {
  font-size: 0.8rem;
}

a {
  cursor: pointer;
}

.fixed-50 {
  height: 50;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 280px auto;
}

.logo-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper-item-1 {
grid-column: span 2;
}

.wrapper-item-2 {
grid-row: 2;
}

.clr-primary {
  color: #5699ff;
}

.active {
  background-color: #797979 !important;
}

.sidebar {
  width: 280px; 
  height: 100%;
  transition: 500ms ease;
}

/* Vertical Overflow styling */
.overflow-height {
  box-shadow: 
  outset 0 8px 8px 8px rgba(0, 0, 0, 0.3),  /* Top shadow */
  inset 0 8px 8px 8px rgba(0, 0, 0, 0.3); /* Bottom shadow */
}

.btn-icon {
  height: 20px;
  width: 20px;
}

.btn-common-dimension {
  width: 15rem;
}

.project-container {
  height: calc(100vh - 210px);
}

.project-card-content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.align-bottom {
  align-self: baseline;
}

.card {
  width: 230px;
  transition: 300ms ease;
  height: 150px;
  
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  border: 1px solid black;
  box-shadow: rgba(38, 38, 224, 0.2) 5px 7px 29px 0px;;
}

.sm-text {
  font-size: 0.8rem;
}

/* Phone size */
@media (max-width: 576px) { /* Apply only on small screens */
  .dropdown-menu {
      right: 0 !important; /* Align dropdown menu to the right */
      left: auto !important; /* Prevent it from shifting left */
  }
  .auto-fill-width {
    width: 100%;
  }
  
}

@media screen and (max-width: 670px) {
  

  .card {
    width: 100%;
  }
}


@media (max-width: 992px) {
  .fixed-50 {
    height: 50px;
  }
}

/* Tablet Size */
@media only screen and (max-width: 768px) {
  .nav-item-title {
    display: none;
  }

  .sidebar {
    width: 100px;
  }

  .wrapper {
    grid-template-columns: 100px auto;
  }

  .project-container {
    min-height: 0;
  }
}