:root {
    --primary: #284b63;
    --secondary: #5BB3B8;
    --secondary-shaded: #449da1;
    --light: #f1f1f1;
    --grey: #D9D9D9;
    --darkgrey: #979797;
    --shadedprimary: #0E2F46;
    --dark: #000000;
    --imperfectdark: #262626;
    --primary-shaded: #1c3f57;
    --green: #49A949;
    --red: #FF3838;
    --bluegrey: #5F7691;
    --bluegrey-shaded: #4e6075;

    --prio-5:#F48586;
    --prio-4:#FBC77E;
    --prio-3:#93EF99;
    --prio-2:#93E1EF;
    --prio-1:#93A2EF;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--light);
}

nav {
    background-color: var(--primary);
    color: var(--light);
}

main {
    margin: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
}

aside {
    width: 280px; 
    height: 100%;
    padding: 1rem;
}

.active-item {
    background-color: var(--grey) !important;
}

.side-navigation-btn-list {
    margin-top: 30px;
}

.selected {
    background-color: var(--darkgrey);
}

.side-navigation-btn-list > li > button > img {
    width: 23px;
    height: auto;
}

.side-navigation-btn-list > li > button {
    background-color: var(--light);
    border: none;
    border-radius: 3px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    padding: 7px 5px 7px 5px;
    text-align: left;
    font-size: rem;
}

.side-navigation-btn-list > li > button:hover {
    background-color: var(--grey);
}

.side-navigation-btn-list > li {
    margin: 5px 0;
}

.user-profile-box {
    height: 45px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 15px;
}

.user-info-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 20px;
    padding: 5px;
}

.user-role {
    grid-column: 2;
    font-weight: 200;
    font-size: small;
}

.user-name, .user-role {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.share-btn {
    height: 30px;
    width: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image {
    width: 40px;
    height: 40px;
    background-color: var(--grey);
    border-radius: 20px;
    border: none;
    grid-row: 1 / span 2;
    margin: 5px;
}

.share-image {
    height: 20px;
    width: 20px;
}

.back-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.back-link {
    text-decoration: none;
    color: var(--darkgrey);
    padding: 5px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: var(--grey);
}

#task-management-view {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.phase-switcher-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.phase-switcher-container > div {
    width: auto;
}

.phase-switcher-container button {
    background-color: var(--light);
    border: none;
    border-radius: 5px;
    display: grid;
}

.previous-phase {
    grid-template-columns: 30px auto;
}

.next-phase {
    grid-template-columns: auto 30px;
}

.previous-phase svg {
    margin: auto;
}

.next-phase svg {
    margin: auto;
}

.phase-switcher-container button:hover div {
    color: var(--secondary);
}

.arrow {
    color: var(--darkgrey);
    height: 25px;
    width: auto;
}

.phase-indicator {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: left;
    align-items: start;
}

.right {
    justify-content: right;
    align-items: end;
}

.sm-text {
    font-size: small;
}

.text-thin {
    font-weight: 300;
}

.clr-grey {
    color: var(--darkgrey);
}

.text-bold-600 {
    font-weight: 600;
}

.right-arrow {
    transform: rotate(180deg);
}

.plus-vector {
    height: 25px;
    width: auto;
}

.phase-switcher-container button:hover svg{
    color: var(--secondary);
}

/* Dynamic Tabs on Task Management */

.add-tab-button {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--light);
    border-radius: 5px;
}

.add-tab-button:hover {
    color: var(--light);
    background-color: var(--primary);
}

.dynamic-tab-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 10px;
}

.dynamic-tab-section .add-tab-button {
    margin-right: 20px;
}

.dynamic-tab-button {
    margin: 5px 5px;
    padding: 3px 10px;
    border: none;
    border-bottom: 2px solid var(--darkgrey);
    min-width: 70px;
    width: auto;
    max-width: 200px;
    color: var(--imperfectdark);
    font-size: 0.9rem;
}

.dynamic-tab-container button:hover {
    background-color: var(--grey);
}

.dynamic-tab-active {
    border-bottom: 2px solid var(--primary);
}

.textbox {
    padding: 3px;
    border-radius: 5px;
    width: 250px;
}

.editable-dropdown {
  position: relative;
  width: 200px;
}

.editable-dropdown select {
  width: 100%;
}

.editable-dropdown > * {
  box-sizing: border-box;
}

.editable-dropdown input {
  position: absolute;
  width: calc(100% - 20px);
}

.tools-section {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.search-card-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.search-btn {
    border: none;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
}

.search-btn:hover {
    background-color: var(--primary-shaded);
}

.search-btn svg {
    height: 25px;
    width: auto;
    color: var(--light);
}

input[type=text] {
    border-radius: 15px;
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 2px;
    width: 100%;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(36,28,21,0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;     
}

input[type=text]:focus{
        outline: none;
        border: 1px solid var(--primary);
        box-shadow: inset 0 0 0 1px var(--primary);
}



#filter-card-btn {
    background-color: var(--bluegrey);
    border: none;
    border-radius: 5px;
    color: var(--light);
    padding: 3px 5px;
}

#filter-card-btn:hover {
    background-color: var(--bluegrey-shaded);
}

#filter-card-btn svg {
    height: 25px;
    width: auto;
    color: var(--light);
}

/* Kanban related styles */

.kanban-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 10px;
    height: 100%;
    justify-content: left;
    width: 100%;
    max-width: calc(100vw - 280px - 50px);
    overflow-y: auto;
}

.kanban-col {
    width: 300px;
    min-width: 300px;
}

.col-category {
    border: 1px solid var(--darkgrey);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
}

.col-category button {
    border: none;
    width: 30px;
    height: 30px;
}

.col-category button:hover .col-more {
    background-color: var(--grey);
    color: var(--imperfectdark);
}

.col-more {
    height: 30;
    width: 30px;
    color: var(--darkgrey);
    border-radius: 5px;
}

.new-task-button {
    background-color: var(--primary);
    color: var(--light);
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    font-size: 0.9rem;
}

.new-task-button:hover {
    background-color: var(--primary-shaded);
}

.kanban-card-container {
    margin-top: 10px;
    max-height: 60vh;
    overflow-y: auto;
}

.kanban-card {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.kanban-card:hover {
    border-top: 1px solid var(--imperfectdark);
    border-right: 1px solid var(--imperfectdark);
    border-bottom: 1px solid var(--imperfectdark);
}

.circle-notif-container {
    height: 8px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.circle {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    position: relative;
    margin-right: -5px;
}

.circle-active {
    background-color: var(--red);
}

.kanban-card-title {
    width: 100%;              
    height: 3em;            
    line-height: 1.5em;        
    overflow: hidden;          
    display: -webkit-box;     
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
    font-size: 0.9em;
    font-weight: 500;
}

.kanban-card-progress {
    margin-top: 10px;
    font-size: small;
    color: var(--imperfectdark);
    padding: 0 3px;
}

.progress-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-container {
    width: 100%;
    background-color: var(--grey);
    height: 7px;
    border-radius: 3px;
}

.progress-line {
    background-color: var(--green);
    border-radius: 3px 0 0 3px;
    height: 100%;
}

.progress-0 {
    width: 0%;
}

.progress-10 {
    width: 10%;
}

.progress-20 {
    width: 20%;
}

.progress-30 {
    width: 30%;
}

.progress-40 {
    width: 40%;
}

.progress-50 {
    width: 50%;
}

.progress-60 {
    width: 60%;
}

.progress-70 {
    width: 70%;
}

.progress-80 {
    width: 80%;
}

.progress-90 {
    width: 90%;
}

.progress-100 {
    width: 100%;
    border-radius: 3px;
}

.progress-completed {
    border-radius: 3px;
}

.card-priority-5 {
    border-left: 5px solid var(--prio-5);
}

.card-priority-4 {
    border-left: 5px solid var(--prio-4);
}

.card-priority-3 {
    border-left: 5px solid var(--prio-3);
}

.card-priority-2 {
    border-left: 5px solid var(--prio-2);
}

.card-priority-1 {
    border-left: 5px solid var(--prio-1);
}


 /* Edit phase modal */
 .custom-modal {
     position: absolute;
     z-index: 1050;
     background: white;
     border-radius: 0.5rem;
     border: 1px solid var(--darkgrey);
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
     display: none;
     width: auto;
 }

 .modal-buttons {
     display: flex;
     flex-direction: column;
     gap: 0.2rem;
 }

 .btn-close-wrapper {
     display: flex;
     justify-content: flex-end;
 }

 .modal-buttons > button {
    width: 200px;
    display: flex;
    justify-content: left;
    padding: 5px 25px;
    border: none;
    transition: 0.2s ease;
 }

 .modal-buttons > button:hover {
    background-color: var(--grey);
 }

 .modal-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1051;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 .my-modal {
    background-color: var(--light);
    width: fit-content;
    margin: auto;
    padding: 0.8rem;
    border-radius: 10px;
 }

 .my-modal .my-modal-top {
    display: flex;
    justify-content: space-between;
 }

  .my-modal .my-modal-content input {
    width: 220px;
    margin: 10px 0; 
 }

 .my-modal .confirm-btn {
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
 }

 /* Edit Task styles */
 .modal-task-tag {
    width: 100%;
    display: flex;
    justify-content: right;
 }

 .section {
    margin: 10px 0;
 }

 .section label {
    font-weight: 600;
    color: var(--imperfectdark);
 }

 .modal-task-tag > button {
    margin-left: auto;
    border: none;
    background-color: var(--secondary);
    font-size:small;
    border-radius: 3px;
    padding: 5px 10px;
 }

  .modal-task-tag > button:hover {
    background-color: var(--secondary-shaded);
 }


 #editTaskModal {
    width: 650px;
    padding: 30px 20px;
 }

 .btn-cancel {
    background-color: var(--grey);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    padding: 5px 20px;
 }

.btn-cancel:hover {
    background-color: var(--darkgrey);
}

.btn-confirm {
    background-color: var(--primary);
    border: none;
    color: var(--light);
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-confirm:hover {
    background-color: var(--shadedprimary);
}

.modal-btn-container {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.assignee-section {
    display: grid;
    grid-template-columns: auto 1fr;
}

.assignees-container > button {
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border-radius: 13px;
}

.assignees-container > button:hover {
    background-color: var(--primary);
}

.assignees-container > button:hover svg {
    color: var(--light);
}

.add-assignee-svg {
    width: 15px;
    height: auto;
}

.assignees-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 5px;
}

.assignee-item > button > svg{
    width: 15px;
    height: auto;
}

.assignee-item {
    padding: 2px 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--grey);
    border-radius: 5px;
}

.assignee-item > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    align-self: center;
}

.assignee-item > button:hover {
    background-color: var(--darkgrey);
}

.assignee-item > span {
    font-size: small;
}

.start-end-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


input[type=datetime-local] {
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid var(--darkgrey);
    padding: 5px;
}

.task-description-section {
    display: grid;
    grid-template-rows: auto 1fr;
}

textarea {
    resize: none;
    padding: 7px;
    border-radius: 5px;
    font-size: medium;
}

.requirements-header {
    display: flex;
    justify-content: space-between;
}

.my-dropdown-content {
    border: 1px solid var(--darkgrey);
    display: none;
    flex-direction: column;
    position: relative;
    margin-top: 7px;
    position: absolute;
    background-color: var(--light);
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    z-index: 1000;
}

.my-dropdown-content .dropdown-option {
    border: none;
    width: 100%;
    background-color: var(--light);
}

.my-dropdown-content .dropdown-option:hover {
    background-color: var(--darkgrey);
}

.my-dropdown-content .btn-close {
    height: 10px;
    width: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: auto;
}

.dropbtn {
    display: grid;
    grid-template-columns: 1fr auto;
    border: none;
    background-color: var(--grey);
    width: 100px;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: var(--darkgrey);
}

.dropbtn > span > svg {
    height: 20px;
    width: auto;
    color: var(--bluegrey);
}

.dropbtn:hover > span > svg {
    color: var(--bluegrey-shaded);
}

.requirements-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 20px 0 ;
}

.req-toggle-type {
    display: grid;
    grid-template-columns: 1fr auto;
}

.req-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}


.delete-btn {
    border: none;
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    gap: 5px;
    height: 30px;
}

.delete-btn:hover {
    color: var(--light);
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn > svg {
    height: 18px;
    width: auto;
}

.req-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    gap: 10px;
}

.req-desc {
    margin-right: 30px;
}

.req-desc-input:not(:focus) {
    border: none;
    color: var(--);
} 

.req-count-type {
    display: grid;
    grid-template-columns: 1fr auto;
}

input[type=number] {
    border-radius: 15px;
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 2px;
    width: 100%;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(36,28,21,0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;  
}

input[type=number]:focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary);
}

.req-options-container > input[type=number] {
    width: 100px;
}






















/* Checkbox */
.checkbox-wrapper-10 .tgl {
    display: none;
}
.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
}
.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
}
.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
content: attr(data-tg-on);
background: var(--green);
transform: rotateY(-180deg);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
background: var(--red);
content: attr(data-tg-off);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
transform: rotateY(-20deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
transform: rotateY(180deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
transform: rotateY(0);
left: 0;
background: var(--green);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
transform: rotateY(20deg);
}
