:root {
    --primary: #284b63;
    --secondary: #5BB3B8;
    --light: #FFFFFF;
    --grey: #D9D9D9;
    --shadedprimary: #0E2F46
}

body {
    background-color: var(--primary);
}

.navbar {
    background-color: var(--shadedprimary) !important;
}

.nav-item {
    
}
